<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Magazine</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/magazine">Reader</a>
    </nav>

    <div class="container">

        <h1>Create Magazine</h1>

        <form class="card" id="magazineForm">

            <label>Magazine Title</label>
            <input type="text" id="title" required>

            <label>Description</label>
            <textarea rows="4" id="description"></textarea>

            <label>Cover Image URL</label>
            <input type="text" id="cover">

            <button type="submit">
                Create
            </button>

        </form>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>

</body>

</html>