<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Page</title>
    <!-- Quill CSS -->

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>

    <nav>

        <a href="/">
            MemoryLane
        </a>

        <div id="navLinks">

            <a href="/">
                Home
            </a>

        </div>

    </nav>

    <div class="container">

        <h1 id="pageHeading">Create Page</h1>

        <form class="card" id="pageForm">

            <label>Page Title</label>
            <input type="text" id="pageTitle">

            <label>Page Content</label>
            <div id="editor"></div>
            <input type="hidden" id="pageContent">

            <label>Image URL</label>
            <input type="text" id="pageImage">

            <label>Song Link</label>
            <input type="text" id="pageSong">

            <button type="submit" id="pageSubmitBtn">
                Add Page
            </button>

        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>

</body>

</html>