<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemoryLane</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
    <link
    rel="icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
    type="image/x-icon">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/magazine">Reader</a>
    </nav>

    <section class="hero">
        <h1>MemoryLane</h1>

        <p>
            Turn memories into beautiful digital magazines.
        </p>

        <a href="/create-magazine" class="btn">
            Create Magazine
        </a>
    </section>

</body>

</html>